body{
    background-position: center;
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#status,#object_status{
    font-size:18px;

}
canvas{
    box-shadow: 5px 5px 5px goldenrod ;
    border-radius: 10px;
    margin-top: 180px;
}